/.ipynb_checkpoints/codificacion_servicios-checkpoint.ipynb
/.ipynb_checkpoints/comparacion-checkpoint.ipynb
/.ipynb_checkpoints/jupy-checkpoint.ipynb
/.ipynb_checkpoints/random_forest-checkpoint.ipynb
/.ipynb_checkpoints/regresion_lineal_polinomial-checkpoint.ipynb
/.ipynb_checkpoints/visualizacion-checkpoint.ipynb